.stars {
    background: url(../img/stars.jpg) center repeat;
    /* background-size: cover; */
    background-size: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -100;
    animation: rotate 350s linear infinite;
    transform-style: preserve-3d;
}

.sun {
    width: 200px;
    height: 200px;
    background: url(../img/sun.jpg);
    position: relative;
    animation: rotate 100s linear infinite;
    box-shadow: -0.3px -0.3px 32.3px #ccc;





}

.mercury {
    background: url(../img/mercury.jpg);
    box-shadow: inset -3px -3px 3px #000, -1px -1px 1px #ccc;
    width: 13px;
    height: 13px;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s linear infinite,
        mercury 5s infinite ease-in-out;
    position: relative;
    z-index: 1;

}

.venus {
    background: url(../img/venux.jpg);
    box-shadow: inset -4px -4px 4px #000, -1px -1px 1px #ccc;
    width: 13px;
    height: 13px;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s linear infinite,
        venus 8s infinite ease-in-out;
    position: relative;
    z-index: 2;
}


.earth {

    background: url(../img/earth.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 20px;
    height: 20px;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s linear infinite,
        earth 9.5s infinite ease-in-out;
    position: relative;
    z-index: 7;
    transform-style: preserve-3d;
}




.moon {
    /* background: url(../img/moon.jpg); */
    position: relative;
    transform-style: preserve-3d;
    animation: orbit 1s linear infinite, moon 10s linear infinite;
    top: 37px;
    left: 0;

}

.moon img {
    box-shadow: inset -2px -2px 2px #000, -0.3px -0.3px 0.3px #ccc;
    width: 5px;
    height: 5px;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(15px);
    border-radius: 50%;
}




.venus,
.moon,
.sun,
.earth,
.mercury {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}





@keyframes rotate {
    to {
        background-position: -200% 0;
    }
}



@keyframes earth {
    49% {

        z-index: 7;
    }

    50% {
        left: 280px;
        z-index: -11;
    }

    55% {
        z-index: 11;
    }

    67% {
        z-index: -1;
    }

    99% {
        z-index: -1;
    }

    100% {
        left: -80px;
        z-index: 7;
    }

}



@keyframes mercury {
    49% {
        /* left: -40px; */
        z-index: 1;
    }

    50% {
        left: 210px;
        z-index: -3;
    }

    99% {
        z-index: -3;
    }

    100% {
        left: -45px;
        z-index: 1;
    }

}

@keyframes venus {
    49% {
        z-index: 2;
    }

    50% {
        left: 240px;
        z-index: -2;
    }

    99% {
        z-index: -2;
    }

    100% {
        left: -60px;
        z-index: 2;
    }

}

@keyframes orbit {
    0% {
        transform: perspective(1000px) rotateY(0) rotateX(0deg) translateY(-30px);
    }


    100% {
        transform: perspective(1000px) rotateY(360deg) rotateX(0deg) translateY(-30px);
    }
}