.stars {
    background: url(../img/stars.jpg) center repeat;
    /* background-size: cover; */
    background-size: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -100;
    animation: rotate 350s linear infinite;
    transform-style: preserve-3d;
}

.sun {
    width: 200px;
    height: 200px;
    background: url(../img/sun.jpg);
    position: relative;
    animation: rotate 100s linear infinite;
    box-shadow: -0.3px -0.3px 32.3px #ccc;

}

.mercury {
    background: url(../img/mercury.jpg);
    box-shadow: inset -3px -3px 3px #000, -1px -1px 1px #ccc;
    width: 13px;
    height: 13px;
    left: -45px;
    top: 45%;
    transform: translateY(-60%);
    animation: rotate 1s linear infinite,
        mercury 4.5s infinite ease-in-out;
    position: relative;
    z-index: 1;

}

.venus {
    background: url(../img/venux.jpg);
    box-shadow: inset -4px -4px 4px #000, -1px -1px 1px #ccc;
    width: 13px;
    height: 13px;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s linear infinite,
        venus 6.5s infinite ease-in-out;
    position: absolute;
    z-index: 2;
}


.earth {

    background: url(../img/earth.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 20px;
    height: 20px;
    left: -80px;
    top: 52%;
    transform: translateY(-30%);
    animation: rotate 1s linear infinite,
        earth 9s infinite ease-in-out;
    position: absolute;
    z-index: 7;
    transform-style: preserve-3d;
}




.moon {
    position: relative;
    transform-style: preserve-3d;
    animation: orbit 1s linear infinite, moon 10s linear infinite;
    top: 7px;
    left: 0;

}

.moon img {
    box-shadow: inset -2px -2px 2px #000, -0.3px -0.3px 0.3px #ccc;
    width: 5px;
    height: 5px;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(15px);
    border-radius: 50%;
}

.mars {
    background: url(../img/mars.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 18px;
    height: 18px;
    left: -100px;
    top: 50%;
    transform: translateY(-55%);
    animation: rotate 1s linear infinite,
        mars 12.5s infinite ease-in-out;
    position: absolute;
    z-index: 8;
    transform-style: preserve-3d;
}

.jupiter {
    background: url(../img/jupiter.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 68px;
    height: 68px;
    left: -150px;
    top: 65%;
    transform: translateY(-55%);
    animation: rotate 14s linear infinite,
        jupiter 25.5s infinite ease-in-out;
    position: absolute;
    z-index: 9;
    transform-style: preserve-3d;
}

.saturn {
    background: url(../img/saturn.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 48px;
    height: 48px;
    left: -175px;
    top: 45%;
    transform: translateY(-55%);
    animation: rotate 14s linear infinite,
        saturn 35.5s infinite ease-in-out;
    position: absolute;
    z-index: 10;
    transform-style: preserve-3d;
}

.uranus {
    background: url(../img/uranus.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 24px;
    height: 24px;
    left: -200px;
    top: 35%;
    transform: translateY(-55%);
    animation: rotate 14s linear infinite,
        uranus 45.5s infinite ease-in-out;
    position: absolute;
    z-index: 10;
    transform-style: preserve-3d;
}

.neptune {
    background: url(../img/neptune.jpg);
    box-shadow: inset -8px -8px 8px #000, -1px -1px 1px #ccc;
    width: 24px;
    height: 24px;
    left: -250px;
    top: 75%;
    transform: translateY(-55%);
    animation: rotate 14s linear infinite,
        neptune 55.5s infinite ease-in-out;
    position: absolute;
    z-index: 10;
    transform-style: preserve-3d;
}

.jupiter,
.neptune,
.uranus,
.saturn,
.mars,
.venus,
.moon,
.sun,
.earth,
.mercury {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}





@keyframes rotate {
    to {
        background-position: -200% 0;
    }
}







@keyframes mercury {
    49% {
        z-index: 1;
    }

    50% {
        left: 210px;
        z-index: -1;
    }

    99% {
        z-index: -1;
    }

    100% {
        left: -45px;
        z-index: 1;
    }

}

@keyframes venus {
    49% {
        z-index: 2;
    }

    50% {
        left: 240px;
        z-index: -2;
    }

    99% {
        z-index: -2;
    }

    100% {
        left: -60px;
        z-index: 2;
    }

}

@keyframes earth {
    49% {

        z-index: 7;
    }

    50% {
        left: 280px;
        z-index: -3;
    }


    99% {
        z-index: -3;
    }

    100% {
        left: -80px;
        z-index: 7;
    }

}

@keyframes mars {
    49% {
        z-index: 8;
    }

    50% {
        left: 300px;
        z-index: -4;
    }

    99% {
        z-index: -4;
    }

    100% {
        left: -100px;
        z-index: 8;
    }

}

@keyframes jupiter {
    49% {
        z-index: 9;
    }

    50% {
        left: 340px;
        z-index: -5;
    }

    99% {
        z-index: -5;
    }

    100% {
        left: -150px;
        z-index: 9;
    }

}

@keyframes saturn {
    49% {
        z-index: 10;
    }

    50% {
        left: 350px;
        z-index: -6;
    }

    99% {
        z-index: -6;
    }

    100% {
        left: -175px;
        z-index: 10;
    }

}

@keyframes uranus {
    49% {
        z-index: 11;
    }

    50% {
        left: 380px;
        z-index: -7;
    }

    99% {
        z-index: -7;
    }

    100% {
        left: -200px;
        z-index: 11;
    }

}

@keyframes neptune {
    49% {
        z-index: 12;
    }

    50% {
        left: 400px;
        z-index: -8;
    }

    99% {
        z-index: -8;
    }

    100% {
        left: -250px;
        z-index: 12;
    }

}





@keyframes orbit {
    0% {
        transform: perspective(1000px) rotateY(0) rotateX(0deg);
    }


    100% {
        transform: perspective(1000px) rotateY(360deg) rotateX(0deg);
    }
}